body {
  width: 450px;
}
#coin-container {
}
.subtitle-container {
  /* display: inline-block; */
  line-height: 35px;
  /* width: 100px; */
}
#subtitle {
  display: inline-block;
  width: 100px;
  font-size: medium;
  font-family: "Noto Sans KR", sans-serif;
}
.coin {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Noto Sans KR", sans-serif;
  font-size: medium;
}

#coinName {
  display: inline-block;
  /* margin-right: 10px; */
  width: 100px;
}
#price {
  display: inline-block;

  width: 100px;
  /* margin-right: 10px; */
}
#change {
  display: inline-block;

  width: 100px;
  /* margin-right: 10px; */
}
#percent {
  display: inline-block;

  width: 100px;
  /* margin-right: 3px; */
}

.error-message {
  position: fixed; /* 또는 다른 적절한 위치 */
  top: 50%; /* 뷰포트의 중앙에 위치 */
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  /* 기타 스타일링 */
}
